.showcase-img {
    background-image: url('../Coin/hellb.png');
    background-color: #F4F5FF;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 650px;
}